{
	"useTabs": true,
	"tabWidth": 2,
	"jsxSingleQuote": false,
	"singleQuote": false,
	"semi": true,
	"trailingComma": "all",
	"editor.formatOnSave": false,
	"[javascript]": {
		"editor.formatOnSave": false
	},
	"[javascriptreact]": {
		"editor.formatOnSave": false
	},
	"bracketSameLine": false,
	"bracketSpacing": true,
	"endOfLine": "auto"
}
